<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DogApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F71D35721D16A6D00045D0E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F71D358E1D16A6D10045D0E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F71D35991D16A6D10045D0E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
